body {
    background-color: #e0dcdc; /* 设置背景颜色，可以使用颜色代码或者名称 */
}
#menu {
    display: flex;
    background-color: #ca2f2f; /* 选择一个适当的背景颜色 */
    padding: 10px; /* 添加一些内边距，使菜单看起来更好 */
}

#menu-item {
    margin-right: 10px; /* 可以根据需要调整菜单项之间的间距 */
}

#menu-item a {
    text-decoration: none; /* 移除链接的下划线 */
    color: white; /* 设置链接文字颜色 */
}

/* 鼠标悬停时的样式 */
#menu-item a:hover {
    text-decoration: underline;
}